/* inter-cyrillic-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-400-normal.ttf) format('truetype');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* inter-cyrillic-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-600-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/cyrillic-600-normal.ttf) format('truetype');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

button {
  border: none;
  outline: none;
}

.main {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  display: inline;
  justify-content: center;
  align-items: center;
  max-width: fit-content;

  padding: 0.0625rem 0.625rem;
  border-radius: 2.5rem;

  background: var(--primary-600);
  color: var(--accent-900);
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.625rem 2rem;
  border-radius: 0.375rem;

  font-size: 0.875rem;
  line-height: 1.25rem;

  background-color: var(--accent-800);
  color: var(--primary-500);
}

.circular_progress {
  position: relative;
  width: 3.875rem;
  height: 3.875rem;

  border-radius: 50%;

  transform: rotate(-90deg);
}

.circular_progress__track {
  cx: 31px;
  cy: 31px;
  r: 28px;
  fill: none;
  stroke: var(--accent-900);
  stroke-width: 1px;

  opacity: 0.5;
  width: 60px;
  height: 60px;
}

.circular_progress__progress {
  --path-length: 175.64495849609375;
  --progress-length: calc(var(--path-length) * (1 - var(--progress)));

  cx: 31px;
  cy: 31px;
  r: 28px;
  fill: none;
  stroke: var(--accent-900);
  stroke-width: 3px;
  stroke-dashoffset: var(--progress-length);
  stroke-dasharray: var(--path-length);
  stroke-linecap: round;

  width: 60px;
  height: 60px;
}

.circular_progress__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circular_progress__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-50%, 50%);

  font-size: 1.25rem;
  line-height: 1.875rem;

}