@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  /* Colors */

  --color-*: initial;

  --color-background-900: #09090b;
  --color-background-800: #111112;
  --color-background-700: #27272a;

  --color-foreground-900: #fafafa;
  --color-foreground-800: #a1a1aa;

  --color-danger-400: #ff5f5f;

  --color-success-400: #83e073;

  /* Font styles */

  --text-*: initial;
  --leading-*: initial;

  --text-sm: 0.75rem;
  --text-base: 0.875rem;

  --leading-base: 0.875rem;
  --leading-lg: 1rem;
  --leading-xl: 1.25rem;

  /* Other */
  --radius-*: initial;

  --radius-2: 0.5rem;
  --radius-1.5: 0.375rem;

  --font-mono: var(--font-inter-mono);

  --spacing-inherit: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, monospace;
}
