@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-columns: minmax(230px, auto) 1fr;
  grid-template-areas:
    "aside main";
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}