.tokens_table__shadow::after,
.tokens_table__shadow::before {
  --shadow-width: 50px;

  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--shadow-width);

  opacity: 0;
  transition: opacity 100ms linear;
}

.tokens_table__shadow.right_shadow::after {
  right: calc(var(--shadow-width) - var(--shadow-width) * 2);

  background: linear-gradient(
    to right,
    var(--color-background-800) 0%,
    transparent 100%
  );
}

.tokens_table__shadow.right_shadow::before {
  display: none;
}

.tokens_table__shadow.left_shadow::before {
  left: calc(var(--shadow-width) - var(--shadow-width) * 2);

  background: linear-gradient(
    to left,
    var(--color-background-800) 0%,
    transparent 100%
  );
}

.tokens_table__shadow.left_shadow::after {
  display: none;
}

.tokens_table__shadow.visible::after,
.tokens_table__shadow.visible::before {
  opacity: 1;
}
